<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>
    <!-- Login Form -->
    <h1>Login</h1>
    <style>
      body {background-color: rgb(74, 162, 173);}
      h1   {color: rgba(33, 45, 109, 0.966);}
      h1 {text-align: center;}
    </style>
    <form action="/login" method="POST">
      <input type="text" id="email"  name="email" placeholder="Email">
      <input type="text" id="password" name="password" placeholder="password">
      <input type="submit" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
</html>
