<html>

<head>
  <link rel="stylesheet" href="css.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align ="center">Sign in</p>
    <form class="form1">
      <input class="email" input id="userEmail" type="email" align="center" value="" placeholder="Email">
      <input class="password" input id="userPassword" type="password" align="center" value="" placeholder="Password">
      <a class="submit" align ="center">Sign in</a>       
                
    </div>
     
</body>

</html>



<!--<form id="login-form"> 
    <p>Login:</p>
    <input id="userEmail" type="Email" placeholder="Enter Email" value=""/>
        <br></br>
    <input id="userPw" type="Password" placeholder="Enter Password" value=""/>
        <br></br>
    <input id="login_btn" type="submit" value="Login" onClick="check()"/> 
</form> -->