<h2>Matches</h2>
<style>
	body {background-color: rgb(74, 162, 173);}
	h2   {color: rgba(33, 45, 109, 0.966);}
    h2   {text-align: center;}
  </style>
<% matches.forEach(function(matches) { %>
		<% if (matches.ori_user_name == user_name) { %>
	        <li>
	            <strong><%= matches.match_user_name %></strong>
	        </li>
        <% } else { %>
        	<li>
	            <strong><%= matches.ori_user_name %></strong>
	        </li>
        <% }%>
    <% }); %>
