<h2>Welcome</h2>
<p><%= user.email %></p>
<p><%= user.name %></p>
<br><br>
You are interested in: <p><%= user.interest %> - <a href="/matches/get-more">get more matches here</a></p>
<div>
See all matches <a href="/matches"> here. </a>
</div>
<div>
<a href="/logout">Log out</a>
</div>
