<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login & Signup</title> 
<link rel="stylesheet" href="stylesheet.css">
<meta name="viewport" content = "width=device-with, initial">
</head>
<body>
  <div>
    <h1>Sign up</h1>
    <style>
      body {background-color: rgb(74, 162, 173);}
      h1   {color: rgba(33, 45, 109, 0.966);}
      h1 {text-align: center;}
    </style>
</div>

<div id= "head">
    <h2>Enter your information here</h2>
    <style>
      h2 {color: rgb(24, 31, 37);}
      h2 {text-align: center;}
    </style>
</div>

    <!-- registration form -->
    <div class="BOX1"></div>
    <form action="/register" method="POST">
      <label for="cars">Type your name:</label>
      <br>
      <input type="text" id="name" name="name" placeholder="Name">

      <div>
      <label for="cars">Choose your gender:</label>
    </div>
    <div>

      <select name="gender" id="gender" required>
        <option value="" disabled>-- Choose --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>

    <div>
      <label for="cars">Choose what gender interest you:</label>
    </div>

    <div>

      <select name="interest" id="gender" required>
        <option value="" disabled>-- Choose --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>

    </div>
    <label for="cars">Type your email:</label>
    <br>
      <input type="text" id="email" name="email" placeholder="Email">
      <br>
      <label for="cars">Choose a password:</label>
      <br>
      <input type="password" id="password" name="password" placeholder="Password">
      <br><br>
      <input type="submit" value="Create">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </body>
  </div>
</div>
</html>
