<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title> Tinder2 </title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/pricing/">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	</style>

</head>

<body>

		<h5 class="my-0 mr-md-auto font-weight-normal" style="text-align:center">Tinder 2</h5>

	</div>

	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Sign Up</h1>
	</div>
	<div style="text-align:center;">
		<label for="username">Enter Fullname:</label>
		<input id="inp_username" name="username" type="text" placeholder="Fullname" value="" />
		<br></br>
		<label for="password">Enter Password:</label>
		<input id="inp_password" name="password" type="password" placeholder="Password" value="" />
		<br></br>
		<label for="email">Enter email:</label>
		<input id="inp_email" name="email" type="email" placeholder="1234@mail.dk">
		<br></br>
		<label for="birthday">Enter Birthday: </label>
		<input name="birthday" type="date" id="inp_birthdate">
		<br></br>
		<p>Select your gender:</p>
		<input type="radio" name="inp_gender" value="female" id="female">
		<label for="female">Female</label>
		<input type="radio" name="inp_gender" value="male" id="male">
		<label for="male">Male</label>
		<input type="radio" name="inp_gender" value="other" id="other">
		<label for="other">Other</label>
		<br></br>
		<p>Select your interest:</p>
		<input type="radio" name="inp_interest" value="Female" id="Female">
		<label for="Female">Female</label>
		<input type="radio" name="inp_interest" value="Male" id="Male">
		<label for="Male">Male</label>
		<input type="radio" name="inp_interest" value="Other" id="Other">
		<label for="Other">Other</label>
		<br></br>


		<!-- <input id="rgstr_btn" type="submit" value="Submit account" />  -->
		<button id="inp_submit_btn">Submit account</button>

		<br></br>
	</div>


	<a href="/login">If you are already signed up, go to Login</a>

	<script>
		let inp_username = document.getElementById("inp_username");
		let inp_password = document.getElementById("inp_password");
		let inp_email = document.getElementById("inp_email");
		let inp_birthdate = document.getElementById("inp_birthdate");

		let inp_gender_btns = document.getElementsByName("inp_gender");
		let inp_interest_btns = document.getElementsByName("inp_interest");

		let submit_btn = document.getElementById("inp_submit_btn");


		const fetchData = async (data) => {
			const response = await fetch("/register-user", {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify(data)
			});

			if (response.ok) {
				return response.json();
			} else {
				throw new Error("Internal server error")
			}
		}


		submit_btn.onclick = () => {
			var checkedGender = null;
			for (var i = 0, length = inp_gender_btns.length; i < length; i++) {
				if (inp_gender_btns[i].checked) {
					checkedGender = inp_gender_btns[i].value;
					break;
				}
			}

			var checkedInterest = null;
			for (var i = 0, length = inp_interest_btns.length; i < length; i++) {
				if (inp_interest_btns[i].checked) {
					checkedInterest = inp_interest_btns[i].value;
					break;
				}
			}

			fetchData({
				username: inp_username.value,
				password: inp_password.value,
				email: inp_email.value,
				birthdate: inp_birthdate.value,
				gender: checkedGender,
				interest: checkedInterest
			})
				.then((response) => {
					console.log("success")
					console.log(response)
					window.localStorage.setItem("token", response.token)
					//window.localStorage.getItem("token"), skal komme næste gang vi skal bruge token
					window.location.replace("") //url fra main page
				})
				.catch((err) => {
					alert(err);
				})
		}


	</script>
</body>

</html>